.how-to-use {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }

  p,
  blockquote,
  li {
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 0;
    line-height: 1.2;
  }

  p {
    &:last-child {
      margin-bottom: 1rem;
    }
  }

  blockquote {
    border-left: 1px solid black;
    padding-left: 10px;
  }

  span {
    font-weight: 500;
  }
}
