.current-combo-table {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 1rem 0;

  div {
    width: 150px;
    padding: 0 1rem;
    padding-right: 1.75rem;

    h3 {
      font-size: 1.75rem;
      font-weight: 300;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 2px #f0e1e1 solid;
      padding-left: 0.5rem;
    }

    h2 {
      padding: 1rem 0;
      font-size: 3rem;
      font-weight: 500;
      padding-left: 0.5rem;
    }
  }

  .save-combo {
    font-size: 1.75rem;
    font-weight: 500;
    color: #292828;
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
      background: #f0e1e1;
      border-radius: 5px;
      color: #5c5b5b;
    }

    &:focus {
      outline: none;
    }
  }
}
