.item {
  input {
    padding: 1rem 0;
    padding-left: 0.5rem;
    font-size: 1.75rem;
    font-weight: 300;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px #f0e1e1 solid;
    width: 150px;

    &:focus {
      outline: none;
      border-bottom: 2px red solid;
    }
  }

  .trash {
    font-size: 1.5rem;
  }
}

.selected {
  input {
    background: #dc5961;
    color: #fff;
  }
}
